@charset "utf-8";

$footer-padding: 0.725rem 0.3625rem 0.725rem;
$dark: hsl(0, 0%, 21%);
$blue: #42a5f5;

$info: $blue;
$link: $blue;


.divider {
  border-bottom: 5px solid $dark;
}

@import "bulma";